// General CSS Rules:
input {
  outline: none;
  caret-color: #D9534F;
}
textarea {
  outline: none;
  caret-color: #D9534F;
}

@media screen and (max-width: 400px) {
  textarea {
    resize: both;
    width: 80%;
  }
}

// General Setup:
.edit-profile-body {
  background-color: #FFAD60;
}

.edit-profile-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

// Each item to be edited:
.edit-form-item {
  margin-bottom: 20px;
  padding: 1em;
  outline: none;
  margin-bottom: 20px;
  padding: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: #D9534F;
}

.upload-img {
  margin-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900
}

h6 {
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black
}

.plus-profile {
  justify-content: flex-end;  
  color: #D9534F;
}

.delete-q {
  display: flex;
}

.add-q {
  display: flex;
  margin-left: 16.4em;
  margin-bottom: -2em;
}

.fa-trash {
  display: flex;
  justify-content: flex-end;  
  color: #D9534F;
  margin-top: -3em;
  margin-right: -10em;
  margin-left: 28em;
}

@media screen and (min-width: 400px) {
  .fa-trash {
    margin-right: 12em;
    margin-left: 28em;
  }
  .add-q {
    margin-left: 16.5em;
    margin-bottom: -2em;
  }
}


@media screen and (min-width: 800px) {
  .fa-trash {
    margin-right: -10em;
    margin-left: 28em;
  }
  .add-q {
    margin-left: 32.5em;
    margin-bottom: -2em;
  }
}

@media screen and (max-width: 1024px) {
  .add-q {
    margin-left: 17em;
    margin-bottom: -2em;
  }
  .fa-trash {
    margin-right: 11em;
    margin-left: 28em;
  }
}

.edit-form-item-qualifications {
  margin-top: 1em;
  margin-bottom: 1em;
}

.edit-form-item-img {
  border-bottom: none;
}

.edit-profile-card {
  display: block;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 5em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.edit-btn-submit {
  border: 1px solid transparent;
  border-radius: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #d9534f;
  color: #fff;
  padding: 0.3em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 5em;
  margin-right: 0em;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  flex: 0 0 auto;
}

.go-back-button {
  border: 1px solid transparent;
  border-radius: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #d9534f;
  color: #fff;
  padding: 0.3em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0em;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  flex: 0 0 auto;
}

.edit-btn-submit:hover {
  background-color: #FFAD60; 
}

.edit-form-item-bio {
  height: 20em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: #D9534F;
  outline: none;
}

@media screen and (min-width:400px) {
  .edit-form-item-bio {
    width: 50%;
  }
}