.home-page-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 0.5em;  
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 0.2rem 0.1rem #FAF1E6;
}

.home-page-subheading {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  background-color: #fff;
}

.home-page-subtitle {
  justify-content: center;
  color: #FFAD60;
  padding: 25px;
  background-color: #FAF1E6;
  margin-left: 0em;
  margin-right: 0em;
  font-weight: 200;
  font-family: 'Fredoka One', cursive;
}

.home-page-button-write-up {
  color: #d9534f;
  font-family: Fredoka One;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #FAF1E6;

  // box-shadow: 0px 1px 10px #888;
}

.home-page-button-summary {
  font-family: Montserrat;
  font-weight: 900;
}

.fa-share:hover {
  color: #FFAD60;
}

.fa-spoon{
  padding-left: 30px;
}
.fa-solid {
  font-size: xx-large;
}

.home-page-copyright {
  font-family: Montserrat;
  padding-bottom: 50px;
  background-color: #FAF1E6;
  padding-bottom: 1em;
}

.home-page-summary-fork {
  color: #FFAD60;
}

.home-page-connect-with-us {
  color: #d9534f;
  font-family: Fredoka One;
  padding-top: 1em;
}

.home-page-socials-icons {
 color: #96CEB4;
 font-size: large;
 display: flex;
 justify-content: center;
}

.social-icon {
  padding: 5px;
  cursor: pointer;
}

.social-icon:hover {
  color: #FAF1E6;
}

.home-page-body {
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 10px -8px #888;
  background-color: #FFAD60;
  flex-direction: column;
}

.grouped-recipes {
  padding: 1em;
  background-color: #FFAD60;
}

.connect-with-us-body {
  background-color: #FAF1E6;
  padding: 1em;
}

@media screen and (min-width: 550px) {
  .grouped-recipes {
    padding: 3em;
  } 
}

@media screen and (min-width: 1000px) {
  .grouped-recipes {
    padding: 5em;
  } 
}