.login-title {
  color: #FFAD60;
  text-shadow: 2px 2px #D9534F;
  font-size: xx-large;
  font-family: Fredoka One;
  padding: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}