.register-title {
  color: #FFAD60;
  text-shadow: 2px 2px #D9534F;
  font-size: xx-large;
  font-family: Fredoka One;
  padding: 30px;
}

.register-form-item {
  margin-bottom: 20px;
}

.Register button{
  color: #D9534F;
  text-shadow: 2px 2px #FFAD60;
  font-size: large;
}

