@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #D9534F;
}

.App body {
  margin-bottom: 50px;
}
.app-header {
  background-color: #FAF1E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFAD60;
  font-family: 'Fredoka One', cursive;
  height: 100px;
  // z-index: 25;
}

.app-header-desktop-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gitcooking-title {
  font-family: 'Fredoka One', cursive;
}

.gitcooking-title-and-logo {
  width: 200px;
}

.create-new-recipe-button {
  margin-left: 3em;
  margin-right: 3em;
}

.register-user-button {
  margin-left: 3em;
  margin-right: 3em;
}

.App-link {
  color: #61dafb;
}

.app-header a {
  color: #FFAD60;
  text-shadow: 2px 2px #D9534F;
  font-size: x-large;
  text-decoration: none;
}

.app-header .gitcooking-title-and-logo a:hover {
  color: #FFAD60;
  text-shadow: 2px 2px #D9534F;
  font-size: x-large;
  text-decoration: none;
}

#profile-pic-display-header {
  display: flex;
  border-style: solid;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 2em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-profile-picture {
  height: -10em;
  width: -10em;
}

.badge-secondary {
  color: #FFAD60;
  text-shadow: 2px 2px #D9534F;
  background-color: #3A6F56;
  background-image: radial-gradient(#96CEB4, #74A48D);
  box-shadow: 0px 0px 5px 0px grey;
  border: grey;
}



.badge-primary {
  color: #D9534F;
  text-shadow: 2px 2px #FFAD60;
  background-color: #FAF1E6;
  background-image: radial-gradient(#FAF1E6, #96CEB4);
  box-shadow: 0px 0px 5px 0px grey;
  border: grey;
  font-size: large;
  font-family: Fredoka One;
  margin-top: 20px;
}


.app-header a:hover {
  color: #FFAD60;
}

@media screen and (max-width:840px) {
  .mob-view {
    display:block;
  }
  .normal-view {
    display:none;
  }
}

@media screen and (max-width:680px) {
  // .mob-view {
  //   display:block;
  // }
  // .normal-view {
  //   display:none;
  // }

  .desktop-view-menu-buttons {
    display: none;
  }

  #mobile-dropdown-menu-button {
    display: block;
  }
}

@media screen and (min-width:680px) {
  #mobile-dropdown-menu-button {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  background-color: #FAF1E6;
  bottom: 0;
  position: fixed;
  padding: 10px 10px 0px 10px;
  box-shadow: 0px 0px 10px 0px grey;
}

.app-footer-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.app-footer-nav li {
  background-color: #96ceb4;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 3px 3px 3px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-footer-nav-list-item {
  color: #D9534F;
  text-shadow: 1px 1px #FFAD60;
}

.app-footer-nav-list-item:hover {
  color: #FFAD60;
}

#burger-icon {
  color: #D9534F;
  text-shadow: 1px 1px #FFAD60;
}

#burger-icon:hover {
  color: #FFAD60;
}

// WILL REMOVE UNDERLINE FROM ALL LINKS
// a {
//   text-decoration: none;
// }

.header-name-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header .logout-button {
  color:#D9534F;
  text-shadow: 1px 1px #FFAD60;
}

.logged-in-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}

.username-display {
  margin: 0;
}

#profile-pic-display {
  height: 80px;
  width: 80px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.fa-right-to-bracket {
  color: #D9534F;
}

#mobile-dropdown-menu-button {
  color: #D9534F;
  background-color: #FFAD60;
  border: none;
  margin-left: 5em;
}

.search-bar-feature {
  display: flex;
  justify-content: center;
  width: 100%;
}