// Mobile View (iphone 12 Pro):

.profile-picture {
  border-style: solid;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 2em;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  margin-top: 2em;
  }
  
  .badges {
  display: flex;
  margin-left:12em;
  margin-top: -6.5em;
  margin-right: 3em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);

}

ul li {
  list-style-type: none;
  display: inline;
}

.fa-bowl-rice {
  color: #96CEB4;
  padding: 0.4em;
  margin-left: 7em;
  margin-bottom: 1em;
}

.fa-cookie-bite {
  color: #96CEB4;
  padding: 0.4em;
}

.fa-burger {
  color: #96CEB4;
  padding: 0.4em;

}

.username {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  margin-top: 3em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1rem;
}

.message-button {
  display: flex;
  margin-left: 1em;
  margin-top: 0em;
  margin-right: 0em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);

  // padding: 0.75rem 1.2rem;
  // cursor: pointer;
  // text-decoration: none #6B7280 solid;
  // font-weight: 600;
  // line-height: 1.5rem;
  // text-decoration-thickness: auto;
  // transition-duration: .2s;
  // transition-property: background-color,border-color,color,fill,stroke;
  // transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  // user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
}

.message-button:hover {
  background-color: #FFAD60; 
}

.message-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.report-button {
  display: flex;
  margin-left: 7em;
  margin-top: -1.7em;
  margin-right: 0em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.report-button:hover {
  background-color: #FFAD60; 
}

.report-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.socials {
  display: flex;
  margin-left:12em;
  margin-top: -6.5em;
  margin-right: 3em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);

  // padding: 0.5rem 1.2rem;
  // text-decoration: none #6B7280 solid;
  // flex: 0 0 auto;
  // line-height: 1.5rem;
  // transition-duration: .2s;
  // transition-property: background-color,border-color,color,fill,stroke;
  // transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  // user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
}

.socials-list-item ul li i {
  color: #96CEB4;
  padding: 0.4em;
}

.socials-list-item ul li i:hover {
  color: #FFEEAD;
}

.socials-list-item ul {
  margin-left: 7em;
}

.qualifications {
  display: flex;
  margin-left: 1em;
  margin-top: 3em;
  margin-right: 10em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.qualifications-list-item li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  padding: 1em;
  color: black;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.bio {
  display: flex;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 10em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.bio-paragraph {
  padding: 2em;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 1rem;
  margin-top: -2em;
}
// //colors:
// // green: 96CEB4
// // linen: FAF1E6
// //champagne/ yellow: FFEEAD
// // red: D9534F
// // orange: FFAD60