// Mobile View (iphone 12 Pro):

// Edit profile page Button:
.fa-pen-to-square {
  color: #d9534f;
  font-weight: 900;
  font-size: larger;
  float: right;
  margin-right: 1em;
  margin-top: 0.5em;
}

.fa-pen-to-square:hover {
  cursor: pointer;
  color: #FFAD60;
}

// Profile Picture:
.profile-picture {
  display: flex;
  border-style: solid;
  border: 1px solid transparent;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 2em;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #96CEB4;
  }

  // Badges:
  .badges-container {
    margin-top: -10em;
  }
  
  .badges {
  display: flex;
  margin-left:12em;
  margin-top: -6.5em;
  margin-right: 3em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  line-height: 1.5rem;
  background-color: #d9534f;
  color: #fff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.badges-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10em;
  margin-bottom: 2em;
}

.badges-list-item li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  padding: 0.5em;
  color: black;
  padding: 0.25em;
}

@media screen and (max-width: 400px) {
  .badges-list {
    display: flex;
    justify-content: flex-start;
    margin-left: 13em;
    margin-right: -0.5em;
    flex-wrap: wrap;
    font-size: 0.5em;
    margin-bottom: 3em;
  }

  .badges-list-item li {
    display: flex;
    margin-left: 4em;
  }
}

// All unordered lists with an li will have this styling:
ul li {
  list-style-type: none;
  display: inline;
}

// Username:
.username {
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  margin-top: 3em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.5rem;
}

@media screen and (max-width: 400px){
  .username {
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.5em;
    margin-top: -1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
  }
}

// Socials:
.socials {
  display: flex;
  margin-left: 12em;
  margin-top: -9em;
  margin-right: 3em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.socials-list-item ul li i {
  color: #96CEB4;
  padding: 0.2em;
}

.socials-list-item ul li i:hover {
  color: #FFEEAD;
}

.socials-list-item ul {
  display: flex;
  justify-content: center;
  margin-left: 7em;
}

@media screen and (max-width: 1024px){
  .socials {
    margin-top: 0em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .socials-list-item ul {
    display: flex;
    margin-left: -0.5em;
    margin-top: -1em;
  }

  .socials-list-item ul li i {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 400px) {
  .socials-list-item ul li i {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1025) {
  ul.socials-ul li i {
    display: flex;  
  }
}

// Buttons:
.message-button {
  display: flex;
  margin-left: 1em;
  margin-top: 0em;
  margin-right: 0em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.message-button:hover {
  background-color: #FFAD60; 
}

.message-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.report-button {
  display: flex;
  margin-left: 7em;
  margin-top: -1.7em;
  margin-right: 0em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.report-button:hover {
  background-color: #FFAD60; 
}

.report-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.favourites-button {
  display: flex;
  margin-left: 7em;
  margin-top: -1.76em;
  margin-right: 0em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
  text-decoration: none;
  text-decoration-line: none;
}

.favourites-button:hover {
  background-color: #FFAD60; 
  text-decoration: none;
}

.favourites-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration: none;
}

@media screen and (max-width: 400px){
  .message-button {
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .report-button {
    margin-top: -4.75em;
    margin-bottom: 0em;
  }

  .favourites-button {
    margin-top: -4.75em;
    margin-bottom: 0em;
  }
}

 // General styling for links:
.link-favourites {
  text-decoration: none;
}

// Qualifications:
.qualifications {
  display: flex;
  margin-left: 1em;
  margin-top: 3em;
  margin-right: 10em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);
}

.qualifications-list-item li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  padding: 1em;
  color: black;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.bio {
  display: flex;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 10em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none #6B7280 solid;
  flex: 0 0 auto;
  line-height: 1.5rem;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #d9534f;
  color: #fff;
  width: auto;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12);

}

.bio-paragraph {
  padding: 2em;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 1rem;
  margin-top: -2em;
}

@media screen and (max-width: 400px){
  .qualifications {
    margin-top: -1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .bio {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}
