#search-button {
  font-family: 'Fredoka One';
  color: #D9534F;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
}

.advanced-search-title {
  font-weight: bold;
}