#search-button {
  font-family: 'Fredoka One';
  color: #D9534F;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.advanced-search-title {
  font-weight: bold;
}

.secretModalTrigger{
  font-size: xx-small;
}
