// General CSS Rules:
input {
  outline: none;
  caret-color: #D9534F;
}

textarea {
  outline: none;
  caret-color: #D9534F;
}

// General Setup:
.create-a-new-recipe-card {
  display: block;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.new-recipe-body {
  background-color: #FFAD60;
}

.new-recipe-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.new-create-heading {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black
}

.new-recipe-item {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
}

.fa-solid.fa-plus.new-add-icon {
  color: #D9534F;
  font-weight: 900;
  font-size: 1.2em;
  margin-top: 1em;

}

.new-recipe-item-add-eq {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: -2em;
}

// CSS: Ingredients:
.new-ingredients-container {
  display: flex;
  flex-direction: column;
  margin-left: 8em;
}

.new-item-ing-add {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 9em;
  margin-left: 0em;
  margin-right: -1em;
}

.new-item-ing-add {
  margin-left: 1em;
  margin-right: 0.2em;

}

.new-item-ing-add-ing {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
}

i.fa-solid.fa-trash.new-trash-icon {
  margin-left: -1em;
  margin-top: 0em;
}

.new-recipe-item-eq-add {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
}

.new-equipments-container {
  display: flex;
  flex-direction: column;
  margin-right: 4em;
}

.new-recipe-item-eq-add {
  margin-left: 20em;
}
  .new-item-ing-add-ing-container {
    //border: 2px solid transparent;
    //border-color: #d9534f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 3em;
    margin-left: 1em;  
  }

  .new-item-ing-add-ing {
    justify-content: center;
    align-items: center;
  }

  div i.fa-solid.fa-plus.-eq {
    margin-right: em;
    margin-top: 1em;
    justify-content: center; 
    color: #D9534F;
    font-size: 1.2em;
    font-weight: 900;
  }


.new-equipments-list-item-container {
  //margin-left: 3em;
}

input.new-recipe-item-add-eq-add {
  justify-content: center;
  margin-right: 0em;
  margin-left: 1em;
  width: 2em;
}

input.new-recipe-item-eq-add {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 12.3em;
  margin-left: 17em;
}

.fa-solid.fa-trash.trash-icon-eq {
  margin-left: -1em;
  margin-top: -1em;
}

.add-eq-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 3em;
  margin-left: -3em;
}

.fa-solid.fa-plus.new-add-icon-eq {
  margin-right: 1em;
  margin-left: -0.5em;
  margin-top: 0.5em;
  font-weight: 900;
  font-size: 1.2em;
  color: #D9534F;
}

.new-recipe-item-add-instr {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none; 
}

.new-recipe-item-add-instr-box {
  border-bottom-color: #D9534F;
  border-top: none;
  border-left: none;
  border-right: none; 
}

.fa-solid.fa-trash-new-trsh-icon-instr {
  margin-right: 2em;
}

// Instructions:

.instructions-container {
  display: flex;
  flex-direction: column;  
}

.instructions-list-item-container {
  margin-left: 8em;
}

input.new-recipe-item-add-instr-add {
  justify-content: center;
  margin-right: 0em;
  margin-left: 1em;
  width: 2em;
}

.new-recipe-item-add-instr-add-box {
  justify-content: center;
  margin-right: 0em;
  margin-left: 1em;
  width: 16em;
  overflow-wrap: break-word;
  overflow: scroll;
  height: 10em;
  outline: none;
  border: none;
  padding: 1.2em;
}

.add-instr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-recipe-item-add-instr {
  margin-right: 0em;
  margin-left: -2em;
  width: 20em;
}

.new-recipe-item-add-instr-box {
  margin-right: 3.9em;
  margin-left: 2em;
  width: 20em;
  overflow-wrap: break-word;
  overflow: scroll;
  height: 8em;
  outline: none;
  border: none;
  padding: 1em;
  
}

.fa-solid.fa-trash.trash-icon-instr {
  margin-left: -1em;
  margin-top: -1em;
}

.fa-solid.fa-plus.new-add-icon-instr {
  margin-right: 1em;
  margin-left: 1.3em;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-left: 1.3em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-size: 900;
  color: #D9534F ;
}

// Buttons: 

.new-btn-submit {
  border: 1px solid transparent;
  border-radius: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #d9534f;
  color: #fff;
  padding: 0.3em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 5em;
  margin-right: 0em;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  flex: 0 0 auto;
}

.new-btn-submit:hover {
  background-color: #FFAD60; 
}

.recipe-btn-container {
  display: flex;
}

// Tags:

.tags {
  width: 17em;
  margin-bottom: 1em;

}

@media screen and (min-width: 400px) {
  .tags {
    width: 20em;
    margin-bottom: 1em;

  }
}

@media screen and (min-width: 500px) {
  .tags {
    width: 27em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 800px) {
  .tags {
    width: 45em;
    margin-bottom: 1em;
  }
}