// General CSS Rules:
input {
  outline: none;
  caret-color: #D9534F;
}

textarea {
  outline: none;
  caret-color: #D9534F;
  width: 40%;
  //padding-right: 1em;
}

// General Setup:
.create-a-new-recipe-card {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.new-recipe-body {
  background-color: #FFAD60;
  margin-bottom: -3em;
  margin-top: -2em;
}

.new-recipe-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.new-create-heading {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: 900;
  color: black
}

.new-recipe-item {
  border-bottom-color: #D9534F;
}

.added-ingredient {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-ingredient {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon-replacement {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: start;
}
.icon-replacement-colour2 {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: start;
}

// .recipe-line{
//   border-bottom-color: #3A6F56
// }

.added-ingredient textarea {
  border-bottom-color: #FFAD60;
  max-width: 60%;
}


.icon-replacement:hover {
  color: #FFAD60;
  cursor: pointer;
}
.icon-replacement-colour2:hover {
  color: #FFAD60;
  cursor: pointer;
}


.new-btn-submit {
  border: 1px solid transparent;
  border-radius: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-color: #d9534f;
  color: #fff;
  padding: 0.3em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 5em;
  margin-right: 0em;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  flex: 0 0 auto;
}

.new-btn-submit:hover {
  background-color: #FFAD60; 
}

.recipe-btn-container {
  display: flex;
}

// Tags:

.tags {
  width: 17em;
  margin-bottom: 1em;

}

@media screen and (min-width: 400px) {
  .tags {
    width: 20em;
    margin-bottom: 1em;

  }
}

@media screen and (min-width: 500px) {
  .tags {
    width: 27em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 800px) {
  .tags {
    width: 45em;
    margin-bottom: 1em;
  }
}

