// General CSS Rules:
input {
  outline: none;
  caret-color: #D9534F; 
  border: none;
}

textarea {
  outline: none;
  caret-color: #D9534F;
  width: 90%;
  border: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: #D9534F;
}

// General Setup:
.edit-recipe-card {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.edit-recipe-body {
  background-color: #FFAD60;
}

.edit-recipe-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
}

.edit-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.edit-recipe-heading {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black
}

.edit-recipe-item {
  border-bottom: 2px solid transparent;
  border-bottom-color: #D9534F;
}

.edit-added-ingredient {
  display: flex;
  flex-direction: column;
  width: 90%;

}

// // CSS: Ingredients:
// .ingredients-container {
//   display: flex;
//   flex-direction: column;
// }

// .ingredients-list-item-container {
//   display: flex;
//   margin-left: 6em;
// }

// .edit-recipe-item-add {
//   justify-content: center;
//   margin-right: -2em;
//   margin-left: 3em;
//   width: 9em;
// }

// i.fa-solid.fa-trash.trash-icon {
//   margin-left: 1em;
//   margin-top: -1em;
// }

// @media screen and (min-width: 600px) { 
//   .ingredients-list-item-container {
//     display: flex;
//     margin-left: 6em;
//   }
// }

// @media screen and (min-width: 1024px) { 
//   .ingredients-list-item-container {
//     display: flex;
//   }

//   .edit-recipe-item-add {
//     justify-content: center;
//     margin-right: 4em;
//     margin-left: -3em;
//     width: 20em;
//   }

//   i.fa-solid.fa-trash.trash-icon {
//     margin-left: -0em;
//   }
// }

//   .add-ing-container {
//     //border: 2px solid transparent;
//     //border-color: #d9534f;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: fit-content;
//     margin-right: 3em;
//     margin-left: 1em;  
//   }

//   .edit-recipe-item-add-ing {
//     justify-content: center;
//     align-items: center;
//   }

//   div i.fa-solid.fa-plus.add-icon-ing {
//     margin-right: -0.4em;
//     margin-top: 0.5em;
//     justify-content: center;
//   }

//   @media screen and (min-width: 1024px) {
//     .add-ing-container {
//       display: flex;
//       margin-right: 8em;
//       margin-left: 0em;
//     }
  
//     div i.fa-solid.fa-plus.add-icon-ing {
//       margin-left: 6em;
//     }
//   }

// // CSS Equipment

// .equipments-container {
//   display: flex;
//   flex-direction: column;
// }

// .equipments-list-item-container {
//   margin-left: 8em;
// }

// input.edit-recipe-item-add-eq-add {
//   justify-content: center;
//   margin-right: 0em;
//   margin-left: 1em;
//   width: 9em;
// }

// input.edit-recipe-item-add-eq {
//   justify-content: center;
//   margin-right: 0em;
//   margin-left: 5em;
//   width: 17em;
// }

// .fa-solid.fa-trash.trash-icon-eq {
//   margin-left: -1em;
//   margin-top: -1em;
// }

// .add-eq-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   width: fit-content;
//   margin-right: 3em;
//   margin-left: -3em;
// }

// .fa-solid.fa-plus.add-icon-eq {
//   margin-right: 1em;
//   margin-left: 3.5em;
//   margin-top: 0.5em;
// }

// @media screen and (min-width: 1024px) {
  
//   .equipments-list-item-container {
//     margin-left: -1.5em;
//   }
  
//   input.edit-recipe-item-add-eq-add {
//     margin-right: 0em;
//     margin-left: 1em;
//     width: 20em;
//   }
  
//   input.edit-recipe-item-add-eq {
//     justify-content: center;
//     margin-right: 0em;
//     margin-left: 5em;
//     width: 42em;
//   }
  
//   .fa-solid.fa-trash.trash-icon-eq {
//     margin-left: -11.5em;
//     margin-top: -1em;
//   }
  
//   .add-eq-container {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: fit-content;
//     margin-right: 3em;
//     margin-left: -3em;
//   }
  
//   .fa-solid.fa-plus.add-icon-eq {
//     margin-right: 1em;
//     margin-left: 6em;
//     margin-top: 0.5em;
//   }
// }

// // Instructions:

// .instructions-container {
//   display: flex;
//   flex-direction: column;  
// }

// .instructions-list-item-container {
//   margin-left: 8em;
// }

// input.edit-recipe-item-add-instr-add {
//   justify-content: center;
//   margin-right: 0em;
//   margin-left: 1em;
//   width: 2em;
// }

// .edit-recipe-item-add-instr-add-box {
//   justify-content: center;
//   margin-right: 0em;
//   margin-left: 1em;
//   width: 16em;
//   overflow-wrap: break-word;
//   overflow: scroll;
//   height: 10em;
//   outline: none;
//   border: none;
//   padding: 1.2em;
// }

// .add-instr-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .edit-recipe-item-add-instr {
//   margin-right: 0em;
//   margin-left: -2em;
//   width: 20em;
// }

// .edit-recipe-item-add-instr-box {
//   margin-right: 3.9em;
//   margin-left: 2em;
//   width: 20em;
//   overflow-wrap: break-word;
//   overflow: scroll;
//   height: 8em;
//   outline: none;
//   border: none;
//   padding: 1em;
  
// }

// .fa-solid.fa-trash.trash-icon-instr {
//   margin-left: -1em;
//   margin-top: -1em;
// }

// .fa-solid.fa-plus.add-icon-instr {
//   margin-right: 1em;
//   margin-left: 1.3em;
//   margin-top: 0.5em;
// }

// @media screen and (min-width: 1024px) {  
//   .instructions-list-item-container {
//     margin-left: -2em;
//   }
  
//   input.edit-recipe-item-add-instr-add {
//     margin-right: 0em;
//     margin-left: 1em;
//     width: 2em;
//   }
  
//   .edit-recipe-item-add-instr-add-box {
//     margin-right: 1em;
//     margin-left: 1em;
//     width: 40em;
//     height: 10em;
//     padding: 1.2em;
//   }
  
//   .add-instr-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .edit-recipe-item-add-instr {
//     margin-right: 0em;
//     margin-left: -2em;
//     width: 40em;
//     border-top: 1em;
//   }
  
//   .edit-recipe-item-add-instr-box {
//     margin-right: 3.9em;
//     margin-left: 2em;
//     width: 40em;
//     overflow-wrap: break-word;
//     overflow: scroll;
//     height: 8em;
//     padding: 1em;
//     border-bottom: #D9534F;
//     border: 2px solid transparent;
//   }
  
//   .fa-solid.fa-trash.trash-icon-instr {
//     margin-left: -13.4em;
//     margin-top: -1em;
//   }
  
//   .fa-solid.fa-plus.add-icon-instr {
//     margin-right: 1em;
//     margin-left: 1.3em;
//     margin-top: 0.5em;
//   }

// }

// // Buttons: 

// .edit-btn-submit {
//   border: 1px solid transparent;
//   border-radius: .75rem;
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 900;
//   background-color: #d9534f;
//   color: #fff;
//   padding: 0.3em;
//   box-sizing: border-box;
//   margin-top: 1em;
//   margin-bottom: 5em;
//   margin-right: 0em;
//   margin-left: 1em;
//   text-align: center;
//   cursor: pointer;
//   font-size: 1rem;
//   flex: 0 0 auto;
// }

// .edit-btn-submit:hover {
//   background-color: #FFAD60; 
// }

// @media screen and (min-width:400px) {
//   .edit-form-item-bio {
//     width: 50%;
//   }
// }

// .edit-recipe-btn-container {
//   display: flex;
// }

// .tags {
//   width: 17em;
//   margin-bottom: 1em;

// }

// @media screen and (min-width: 400px) {
//   .tags {
//     width: 20em;
//     margin-bottom: 1em;

//   }
// }

// @media screen and (min-width: 500px) {
//   .tags {
//     width: 27em;
//     margin-bottom: 1em;
//   }
// }

// @media screen and (min-width: 800px) {
//   .tags {
//     width: 45em;
//     margin-bottom: 1em;
//   }
// }

// .new-btn-upload {
//   border: none;
// }

// textarea {
//   width: 80%;
// }

// .edit-recipe-item-img {
//   border: none;
//   margin-left: 9em;
//   padding: none;
// }

// .file-upload {
//   display: flex;
//   justify-content: center;
// }

// .icon-div {
//   margin-right: 5;
// }