// General CSS rules:

.recipe-body {
  background-color: #FFAD60;
}

.recipe-card {
  display: block;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

// Comments section CSS:
.comment-list-card-in-recipe {
  display: block;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 7em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.recipe-title {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
  font-weight: 100;
  padding: 1em;
  margin-top: -1em;
}

// Recipe Icons:
.recipe-icons {
  color: #d9534f;
  font-size: 1em;
  display: flex;
  justify-content:flex-end;
  margin-top: 1em;
  margin-right: 2em;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .spoon-recipe {
    display: none;
  }

  .fork-recipe {
    display: none;
  }

  .edit-recipe-icon {
    margin-right: 5em;
  }
}

.fa-spoon {
  margin-right: 1em;
}

.fa-spoon:hover {
  color: #FFAD60;
}

.fa-utensils:hover {
  color: #FFAD60;
}

.edit-recipe-icon {
  margin-right: 0.2em;
  margin-top: -1.5em;
}

// CSS for username:

.username-heading {
  font-family: 'Fredoka One', cursive;
  color: #d9534f;
}

.username-heading span {
  cursor: pointer;
}

.username-heading span:hover {
  color: #FFAD60;
  cursor: pointer;
}

.recipe-img {
  display: block;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
}

.recipe-stat {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.heading-lists {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  list-style-type: none;
}

.card-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
}

.tags-subheading {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 900;
}

ul li {
  display: flex;
  padding: 0.4em;
  justify-content: center;
}

.tags-body {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

ul li.tags {
  font-weight: 100;
  font-size: 1.1em;
  border: 2px solid transparent;
  border-color: #FFAD60;
  border-radius: 10%;
  padding: 0.2em;
  margin-left: 0.5em;
  background-color: #FFAD60;
  color: #fff;
  font-family: 'Fredoka One', cursive;
  margin-top: 0.5em;
  margin-right: 0.5em;
  width:fit-content;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 400px) {
  ul.card-body.tags-body {
    margin-left: -2em;
    margin-right: -15em;
    display: flex;
    overflow-wrap: break-word;
  }
  
  ul li.tags {
    font-size: 1em;
    padding: 0.1em;
    margin-left: 0.5em;
    background-color: #FFAD60;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    width:fit-content;
  }
  
  
}