.recipe-card-body {
  display: block;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 10em;
  border: 1px solid transparent;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.20);
  border-style: solid;
  background-color: #fff;
  z-index: -10;
}

.carousel {
  z-index: 0;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: #d9534f;
  font-size: large;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: xx-large;
  font-family: Montserrat;
}
.text-border{
  font-family: Fredoka One;
  font-weight: 1000;
  color: white;
  text-shadow: 2px 2px 2px black;
  background: rgba(225, 225, 225, 0.4);
  // border-radius: 30%;
  border: 2px solid transparent;
}

/* Bottom left text */
.bottom-center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: large;
}


/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}